/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.main {
  max-width: 900px;
  margin: 0 auto;
}

.header {
  width: 100%;
  background: #424242;
  height: 200px;
}

.header .logo {
  float: left;
  margin-top: 40px;
  margin-left: 100PX;
}

.header .input-data {
  width: 15%;
  margin-top: 40px;
  margin-left: 10%;
  float: left;
}

.header .input-data label {
  color: #ffd366;
}

.header .input-data input {
  width: 100%;
  display: block;
  margin-bottom: 15px;
  margin-top: 5px;
  border: 2px solid #ffd366;
  border-radius: 5px;
}

.btn {
  width: 20%;
  position: relative;
  background: #ffd366;
  border-radius: 100%;
  border: 2px solid #e6e1e7;
  height: 120px;
  width: 120px;
  font-size: 24px;
  font-family: Verdana;
  margin-left: 10%;
  margin-top: 40px;
  float: left;
}

.btn:hover {
  -webkit-box-shadow: 0 0 8px 3px #cccf8c;
          box-shadow: 0 0 8px 3px #cccf8c;
}

.btn:active {
  background: #fafafa;
}

#thin {
  border: 5px solid #34a4d8;
  background: #424242;
  color: #34a4d8;
}

#thin-text {
  color: #34a4d8;
  float: left;
  margin-left: 10px;
  margin-top: 85px;
  font-size: 25px;
}

#thin-icon {
  position: absolute;
  left: 80px;
  bottom: 0px;
  width: 30px;
  height: 30px;
  border: 3px solid #424242;
  border-radius: 50%;
  background-image: url(/images/icons_loop.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #34a4d8;
  cursor: pointer;
}

#thin-border {
  border-left: 5px solid #34a4d8;
}

#normal {
  border: 5px solid #86d73f;
  background: #424242;
  color: #86d73f;
}

#normal-text {
  color: #86d73f;
  float: left;
  margin-left: 10px;
  margin-top: 85px;
  font-size: 25px;
}

#normal-icon {
  position: absolute;
  left: 80px;
  bottom: 0px;
  width: 30px;
  height: 30px;
  border: 3px solid #424242;
  border-radius: 50%;
  background-image: url(/images/icons_loop.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #86d73f;
  cursor: pointer;
}

#normal-border {
  border-left: 5px solid #86d73f;
}

#fat {
  border: 5px solid #dc8831;
  background: #424242;
  color: #dc8831;
}

#fat-text {
  color: #dc8831;
  float: left;
  margin-left: 10px;
  margin-top: 85px;
  font-size: 25px;
}

#fat-icon {
  position: absolute;
  left: 80px;
  bottom: 0px;
  width: 30px;
  height: 30px;
  border: 3px solid #424242;
  border-radius: 50%;
  background-image: url(/images/icons_loop.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #dc8831;
  cursor: pointer;
}

#fat-border {
  border-left: 5px solid #dc8831;
}

#toofat {
  border: 5px solid #FF6C02;
  background: #424242;
  color: #FF6C02;
}

#toofat-text {
  color: #FF6C02;
  float: left;
  margin-left: 10px;
  margin-top: 85px;
  font-size: 25px;
}

#toofat-icon {
  position: absolute;
  left: 80px;
  bottom: 0px;
  width: 30px;
  height: 30px;
  border: 3px solid #424242;
  border-radius: 50%;
  background-image: url(/images/icons_loop.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FF6C02;
  cursor: pointer;
}

#toofat-border {
  border-left: 5px solid #FF6C02;
}

#superfat {
  border: 5px solid #ff3e3e;
  background: #424242;
  color: #ff3e3e;
}

#superfat-text {
  color: #ff3e3e;
  float: left;
  margin-left: 10px;
  margin-top: 85px;
  font-size: 25px;
}

#superfat-icon {
  position: absolute;
  left: 80px;
  bottom: 0px;
  width: 30px;
  height: 30px;
  border: 3px solid #424242;
  border-radius: 50%;
  background-image: url(/images/icons_loop.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ff3e3e;
  cursor: pointer;
}

#superfat-border {
  border-left: 5px solid #ff3e3e;
}

#danger {
  border: 5px solid #fa1302;
  background: #424242;
  color: #fa1302;
}

#danger-text {
  color: #fa1302;
  float: left;
  margin-left: 10px;
  margin-top: 85px;
  font-size: 25px;
}

#danger-icon {
  position: absolute;
  left: 80px;
  bottom: 0px;
  width: 30px;
  height: 30px;
  border: 3px solid #424242;
  border-radius: 50%;
  background-image: url(/images/icons_loop.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fa1302;
  cursor: pointer;
}

#danger-border {
  border-left: 5px solid #fa1302;
}

.content {
  width: 100%;
  margin: 0 auto;
}

.content h2 {
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.content ul {
  width: 80%;
  margin: 0 auto;
}

.content ul li {
  margin-bottom: 10px;
  background-color: #fafafa;
}

.content ul li .spanText {
  width: 120px;
  display: inline-block;
}

.content ul li .kgText {
  width: 120px;
  display: inline-block;
}

.content ul li span {
  margin-left: 10px;
  font-size: 24px;
}

.content ul li span span {
  font-size: 12px;
}

.content ul a {
  text-decoration: none;
  margin-left: 20px;
  font-size: 20px;
}

.footer {
  height: 70px;
  background: #424242;
}

.footer img {
  height: 50px;
  width: 50px;
  display: block;
  margin: 0 auto;
  padding: 10px;
}
/*# sourceMappingURL=all.css.map */