@import 'reset';




.main{
  max-width: 900px;
  margin: 0 auto;
}
.header{
  width: 100%;
  background: #424242;
  height: 200px;
  .logo{
    float: left;
    margin-top: 40px;
    margin-left: 100PX;
  }
  .input-data{
    width: 20%;
    margin-top: 40px;
    margin-left: 10%;
    float: left;
    label{
      color: #ffd366;
    }
    input{
      width: 100%;
      display: block;
      margin-bottom: 15px;
      margin-top: 5px;
      border: 2px solid #ffd366;
      border-radius: 5px;
    }
  }
}

@media (max-width: 576px){
  .header{
    height: 200px;
    .logo{
      margin-left: 15PX;
    }
    .input-data{
      margin-left: 15px;
    }
  }
}

.btn{
  width: 20%;
  position: relative;
  background: #ffd366;
  border-radius: 100%;
  border: 2px solid #e6e1e7;
  height: 120px;
  width: 120px;
  font-size: 24px;
  font-family: Verdana;
  margin-left: 10%;
  margin-top: 40px;
  float: left;
}

@media (max-width: 576px){
  .btn{
    margin-left: 15px;
  }
}

.btn:hover{
  box-shadow: 0 0 8px 3px #cccf8c;
}
.btn:active{
  background: #fafafa;
}

// 邊框&文字顏色&w小圖
#thin{
  border: 5px solid #34a4d8;
  background: #424242;
  color: #34a4d8;
}
#thin-text{
  color: #34a4d8;
  float: left;
  margin-left: 10px;
  margin-top: 85px;
  font-size: 25px;
}
#thin-icon{
  position: absolute;
  left: 80px;
  bottom: 0px;
  width: 30px;
  height: 30px;
  border: 3px solid #424242;
  border-radius: 50%;
  background-image: url(/BMI/images/icons_loop.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #34a4d8;
  cursor: pointer;
}
#thin-border{
  border-left: 5px solid #34a4d8; 
}
#normal{
  border: 5px solid #86d73f;
  background: #424242;
  color: #86d73f;
}
#normal-text{
  color: #86d73f;
  float: left;
    margin-left: 10px;
    margin-top: 85px;
    font-size: 25px;
}
#normal-icon{
  position: absolute;
  left: 80px;
  bottom: 0px;
  width: 30px;
  height: 30px;
  border: 3px solid #424242;
  border-radius: 50%;
  background-image: url(/BMI/images/icons_loop.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #86d73f;
  cursor: pointer;
}
#normal-border{
  border-left: 5px solid #86d73f;
}
#fat{
  border: 5px solid #dc8831;
  background: #424242;
  color: #dc8831;
}
#fat-text{
  color: #dc8831;
  float: left;
    margin-left: 10px;
    margin-top: 85px;
    font-size: 25px;
}
#fat-icon{
  position: absolute;
  left: 80px;
  bottom: 0px;
  width: 30px;
  height: 30px;
  border: 3px solid #424242;
  border-radius: 50%;
  background-image: url(/BMI/images/icons_loop.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #dc8831;
  cursor: pointer;
}
#fat-border{
  border-left: 5px solid #dc8831;
}
#toofat{
  border: 5px solid #FF6C02;
  background: #424242;
  color: #FF6C02;
}
#toofat-text{
  color: #FF6C02;
  float: left;
    margin-left: 10px;
    margin-top: 85px;
    font-size: 25px;
}
#toofat-icon{
  position: absolute;
  left: 80px;
  bottom: 0px;
  width: 30px;
  height: 30px;
  border: 3px solid #424242;
  border-radius: 50%;
  background-image: url(/BMI/images/icons_loop.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FF6C02;
  cursor: pointer;
}
#toofat-border{
  border-left: 5px solid #FF6C02;
}
#superfat{
  border: 5px solid #ff3e3e;
  background: #424242;
  color: #ff3e3e;
}
#superfat-text{
  color: #ff3e3e;
  float: left;
    margin-left: 10px;
    margin-top: 85px;
    font-size: 25px;
}
#superfat-icon{
  position: absolute;
  left: 80px;
  bottom: 0px;
  width: 30px;
  height: 30px;
  border: 3px solid #424242;
  border-radius: 50%;
  background-image: url(/BMI/images/icons_loop.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ff3e3e;
  cursor: pointer;
}
#superfat-border{
  border-left: 5px solid #ff3e3e;
}
#danger{
  border: 5px solid #fa1302;
  background: #424242;
  color: #fa1302;
}
#danger-text{
  color: #fa1302;
  float: left;
    margin-left: 10px;
    margin-top: 85px;
    font-size: 25px;
}
#danger-icon{
  position: absolute;
  left: 80px;
  bottom: 0px;
  width: 30px;
  height: 30px;
  border: 3px solid #424242;
  border-radius: 50%;
  background-image: url(/BMI/images/icons_loop.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fa1302;
  cursor: pointer;
}
#danger-border{
  border-left: 5px solid #fa1302;
}

@media (max-width: 576px){
  #thin-text{
    display: none;
  }
  #normal-text{
    display: none;
  }
  #fat-text{
    display: none;
  }
  #toofat-text{
    display: none;
  }
  #superfat-text{
    display: none;
  }
  #danger-text{
    display: none;
  }
}
.content{
  width: 100%;
  margin: 0 auto;
  h2{
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  ul{
    width: 80%;
    margin: 0 auto;
    li{
      margin-bottom: 10px;
      background-color: #fafafa;
      .spanText{
        width: 120px;
        display: inline-block;
      }
      .kgText{
        width: 120px;
        display: inline-block;
      }
      span{
        margin-left: 10px;
        font-size: 24px;
        span{
          font-size: 12px;
        }
      }
    }
    a{
      text-decoration: none;
      margin-left: 20px;
      font-size: 20px;
    }
  }
}

@media (max-width: 576px){
  .content{
    width: 100%;
    margin: 0 auto;
    h2{
      text-align: center;
      font-size: 30px;
      margin-top: 10px;
      margin-bottom: 20px;
    }
    ul{
      width: 95%;
      li{
        .spanText{
          width: 80px;
        }
        .kgText{
          width: 80px;
        }
        .timeText{
          display: none;
        }
        span{
          margin-left: 3px;
          font-size: 14px;
          span{
            font-size: 12px;
          }
        }
      }
      a{
        margin-left: 3px;
        font-size: 12px;
      }
    }
  }
}

.footer{
  height: 70px;
  background: #424242;
  img{
    height: 50px;
    width: 50px;
    display: block;
    margin: 0 auto;
    padding: 10px;
  }
}